body {
  width: 30em;
  font-family: serif;
}
blockquote {
  float: right;
  width: 15em;
  padding: 8px;
  background-color: #faebbc;
  border-top: 1px solid #e1cc89;
  border-bottom: 1px solid #e1cc89;
  margin: 5px;
  background-image: url(images/openquote1.gif);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 23px;
}

blockquote span {
  display: block;
  background-image: url(images/closequote1.gif);
  background-repeat: no-repeat;
  background-position: bottom right;
}
